body {
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;
    color: #4a6385;
}

.header {
    border-top: 1px solid #267ae9;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 86px;
}

.nav__menu {
    display: flex;
}

.nav__menu li+li {
    margin: 0 0 0 38px;
}

.nav__menu a {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.2;
    font-weight: 700;
    color: #2f3f54;
}

.top {
    padding: 150px 0 180px 0;
    background-color: #267ae9;
}

.top-inner {
    display: flex;
}

.top-left {
    max-width: 555px;
    margin: 0 40px 0 0;
    color: #fff;
}

.top-left__title {
    font-family: 'Roboto', sans-serif;
    font-size: 48px;
    line-height: 52px;
    font-weight: 900;
    text-transform: uppercase;
}

.top-left__price {
    font-size: 19px;
    line-height: 52px;
    font-weight: 700;
}

.top-left__price-descr {
    margin: 0 0 35px 0;
}

.top-left__list {
    font-size: 16px;
    line-height: 27px;
    font-weight: 700;
    margin: 0 0 50px 0;
}

.top-left__list li {
    position: relative;
    padding: 0 0 0 20px;
}

.top-left__list li::before {
    content: '';
    background-image: url('../imgs/check.svg');
    width: 13px;
    height: 13px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.top-left__btn {
    color: #fff;
    display: inline-block;
    border: 3px solid #fff;
    border-radius: 23.5px;
    padding: 10px 44px;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.top-right {
    position: relative;
}

.top-right__circle {
    width: 230px;
    height: 230px;
    color: #212121;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -65px;
    right: -60px;
}

.top-right__title {
    margin: 0 0 20px 0;
    width: 140px;
    text-align: left;
}

.top-right__price {
    font-size: 54px;
    font-weight: 700;
    margin: 0 0 10px 0;
}

.top-right__time {
    width: 140px;
    text-align: right;
}

.price {
    padding: 150px 0 180px 0;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    line-height: 50px;
    font-weight: 700;
    color: #2f3f54;
    text-align: center;
}

.title span {
    color: #267ae9;
}

.price__descr {
    margin: 45px 0 0 0;
    text-align: center;
    max-width: 595px;
    margin: 45px auto 125px auto;
}

.price__descr a {
    color: #e74c3c;
}

.price__descr span {
    color: #42d6c1;
}

.price__items {
    display: flex;
    justify-content: space-between;
}

.price-item {
    max-width: 360px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    border-radius: 2px 2px 0px 0px;
    padding: 0 50px 60px 50px;
    position: relative;
    overflow: hidden;
}

.price-item__top-month {
    width: 265px;
    height: 465px;
    border-radius: 135px;
    margin: 0 auto;
    position: absolute;
    top: -370px;
    background-color: #267ae9;
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    font-weight: 700;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0 0 35px 0;
}

.price-item__month-price {
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.price-item__month-price span {
    font-size: 16px;
}

.price-item__img {
    padding: 120px 0 0 0;
    text-align: center;
    margin: 0 0 30px 0;
}

.price-item__title {
    font-family: 'Roboto', sans-serif;
    font-size: 32px;
    line-height: 50px;
    font-weight: 700;
    color: #267ae9;
    margin: 0 0 25px 0;
}

.price-item__text {
    margin: 0 0 50px 0;
}

.price-item__list {
    margin: 0 0 75px 0;
}

.price-item__list li {
    padding: 0 0 0 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 36px;
    font-weight: 400;
    position: relative;
}

.price-item__list li::before {
    content: '';
    background-image: url('../imgs/check2.svg');
    width: 15px;
    height: 15px;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.price-item__btn {
    font-family: 'Roboto', sans-serif;
    font-size: 17px;
    line-height: 20px;
    font-weight: 700;
    color: #ffffff;
    background-color: #267ae9;
    border-radius: 0px 0px 2px 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;
    padding: 20px 10px;
}

.opinions {
    padding: 125px 0 105px 0;
    background-color: #fafafa;
}

.opinions__items {
    display: flex;
    justify-content: space-between;
    margin: 165px 0 0 0;
}

.opinion-item {
    max-width: 524px;
    box-shadow: 0px 21px 49px 1px rgba(41, 44, 61, 0.15);
    display: flex;
    font-size: 16px;
}

.opinion-item__photo {
    min-width: 193px;
    background-color: #267ae9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.opinion-item__opinion {
    padding: 65px 50px 60px 40px;
}

.opinion-item__text {
    line-height: 26px;
    margin: 0 0 35px 0;
}

.opinion-item__human {
    color: #2f3f54;
    line-height: 30px;
}

.opinion-item__human span {
    font-weight: 700;
    color: #267ae9;
}

.logos {
    padding: 100px 0 80px 0;
}

.footer {
    background-color: #2d3d51;
    padding: 85px 0 128px 0;
    color: #718db2;
}

.footer__lists {
    display: flex;
    justify-content: space-between;
}

.list-item__footer_logo img {
    margin: 0 12px 0 0;
}

.list-item__text {
    max-width: 240px;
    font-size: 13px;
    line-height: 22px;
    font-weight: 400;
}

.list-item__header {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
    color: #d0e4ff;
    margin: 0 0 32px 0;
}

.list-item__footer_logo {
    font-size: 22px;
    font-weight: 700;
    display: flex;
    align-items: center;
}

.list-item__list li {
    font-size: 13px;
    line-height: 31px;
}

.list-item__form {
    display: flex;
    flex-direction: column;
    margin: 0 0 10px 0;
}

.list-item__input {
    width: 270px;
    background-color: #2f3f54;
    border: 1px solid rgba(255, 255, 255, 0.05);
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: #718db2;
    padding: 15px 10px;
}

.list-item__input::placeholder {
    color: #718db2;
}

.list-item__textarea {
    resize: none;
    height: 86px;
}

.list-item__send {
    padding: 12px 13px;
    font-family: 'Roboto', sans-serif;
    font-size: 13px;
    line-height: 1.2;
    font-weight: 400;
    text-transform: uppercase;
    color: #ffffff;
    background-color: #267ae9;
}